/* APP CORE */
:root {
	--color-1: #1A1A2E; 
	--color-2: #16213E;
	--color-white: #ffffff;
	--color-pink: #E94560;	
}
.white {
	color: var(--color-white) !important;
}
.pink{
	color: var(--color-pink) !important;
}
.blue1{
	color: var(--color-1) !important;
}
.blue2{
	color: var(--color-2) !important;
}
.bg-white{
	background-color: var(--color-white);
}
.bg-pink{
	background-color: var(--color-pink);
}
.bg-blue1{
	background-color: var(--color-1) !important ;
}
.bg-blue2{
	background-color: var(--color-2) !important ;
}

.s1{
  background-color: var(--color-1);
}
.s2{
  background-color: var(--color-2);
}
.s3{
  background-color: var(--color-pink);
}
/* NAVIGATION  */
#fp-nav ul li a span{
  background-color: white;
}
.fp-slidesNav ul li a span{
	background-color: white;
}
.fp-slidesNav{
	display: flex;
	justify-content: center;
}
